/* General navbar styles */
.navbar {
    background-color: #0b0438; /* Navbar background color */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  
  /* Navbar container for layout */
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Logo */
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navbar links list */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  /* Individual links */
  .navbar-links li {
    font-size: 18px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for links */
  .navbar-links a:hover {
    background-color: #ebf1f1;
    border-radius: 5px;
    color: black;
  }
  